.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.center-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 10px;
}
.column-third {
  width: 33vw;
}
.white-text {
  color: white
}
.left-text {
  text-align: left;
}
.row-container {
  display: flex;
  flex-direction: row;
}
.space-left {
  margin-left: 8px;
}
.post-container, .comment-container {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}
.remove-button {
  max-height: 20px;
}

.space-top {
  margin-top: 8px;
}
.space-bottom {
  margin-bottom: 8px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
